[Desktop Entry]
Type=Application
Version=1.5
Name[bg]=Carburetor
Name[de]=Carburetor
Name[el]=Carburetor
Name[es]=Carburetor
Name[fa]=کاربراتور
Name[fi]=Carburetor
Name[fr]=Carburetor
Name[hi]=Carburetor
Name[hr]=Carburetor
Name[it]=Carburetor
Name[ja]=Carburetor
Name[nb_NO]=Carburetor
Name[nl]=Carburetor
Name[pl]=Carburetor
Name[pt]=Carburetor
Name[pt_BR]=Carburador
Name[ru]=Карбюратор
Name[sv]=Carburetor
Name[tr]=Carburetor
Name[ar]=المكربن
Name[zh_Hans]=Carburetor
Name[ta]=கார்பூரேட்டர்
Name[et]=Carburetor
Name[ia]=Carburetor
Name=Carburetor
Comment[de]=Anonym browsen
Comment[es]=Navegar anónimamente
Comment[fa]=مرور ناشناس
Comment[fi]=Selaa anonyymisti
Comment[hr]=Pregledavaj anonimno
Comment[it]=Navigare anonimamente
Comment[ja]=匿名でブラウズ
Comment[nl]=Surf anoniem
Comment[pl]=Przeglądaj anonimowo
Comment[pt]=Navegue anonimamente
Comment[pt_BR]=Navegue anonimamente
Comment[ru]=Анонимный серфинг в интернете
Comment[sv]=Surfa anonymt
Comment[tr]=Gizli şekilde gezinin
Comment[ar]=تصفَّح بمجهولية
Comment[ta]=அநாமதேயமாக உலாவுக
Comment[et]=Sirvi maailma anonüümselt
Comment[ia]=Naviga anonymemente
Comment=Browse anonymously
Icon=io.frama.tractor.carburetor
DBusActivatable=true
Exec=gapplication launch io.frama.tractor.carburetor
Terminal=false
Categories=Network;
Keywords[bg]=Tor;Tractor;Carburetor;
Keywords[de]=Tor;Tractor;Carburetor;
Keywords[el]=Tor;Tractor;Carburetor;
Keywords[es]=Tor;Tractor;Carburetor;
Keywords[fa]=Tor;Tractor;Carburetor;تور;تراکتور;کاربراتور;
Keywords[fi]=Tor;Tractor;Carburetor;
Keywords[fr]=Tor;Tractor;Carburetor;
Keywords[hi]=Tor;Tractor;Carburetor;
Keywords[hr]=Tor;Tractor;Carburetor;
Keywords[it]=Tor;Tractor;Carburetor;
Keywords[ja]=Tor;Tractor;Carburetor;
Keywords[nb_NO]=Tor;Tractor;Carburetor;
Keywords[nl]=Tor;Tractor;Carburetor;
Keywords[pl]=Tor;Tractor;Carburetor;
Keywords[pt]=Tor;Tractor;Carburetor;
Keywords[pt_BR]=Tor;Trator;Carburador;
Keywords[ru]=Tor;Tractor;Carburetor;Тор;Трактор;Карбюратор;
Keywords[sv]=Tor;Tractor;Carburetor;
Keywords[tr]=Tor;Tractor;Carburetor;
Keywords[ar]=تور;بصلة;جرار;تراكتر;المكربن;المفحم;المغذي;المازج;الكاربراتير;tor;tractor;carburetor;
Keywords[zh_Hans]=Tor;Tractor;Carburetor;
Keywords[ta]=டோர்; டிராக்டர்; கார்பூரேட்டர்;
Keywords[et]=Tor;Tractor;Carburetor;karburaator;tori;võrk;privaatsus;privaatne;ühendus;võrguühendus;
Keywords[ia]=Tor;Tractor;Carburetor;
Keywords=Tor;Tractor;Carburetor;
StartupNotify=true
X-GNOME-UsesNotifications=true
X-Purism-FormFactor=Workstation;Mobile;
